<!-- Hola soy maria clara-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ÑOMY</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <header>
        <div class="contenedor">
            <p class="logo">Ñomy</p>
            <nav>
                <a href="http://127.0.0.1:8000/">Home</a>
                <a href="#">Cuenta</a>
                <a href="#">Soporte</a>
            </nav>

            <div class="auth-buttons">
                <button onclick="window.location.href='http://127.0.0.1:8000/login/'">Iniciar Sesión</button>
                <button onclick="window.location.href='http://127.0.0.1:8000/register'">Registrarse</button>
            </div>
        </div>
    </header>

    <section id="hero">
        <h1>Aqui va a ir el mapa interactivo<font color='#3485a9'>{{name}}</font></h1>
        <h2>Y aquí el prompt del chatbot con IA</h2>
    </section>

    <!--
    <div class="container">
        <form action="">
            <div class="mb-3">
                <label for="searchNomy" class="form-label">
                    Search for Nomy:
                </label>
                <input type="text" class="form-control" name="searchNomy" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <p>Searching for {{searchTerm}}</p>
        {% for nomy in nomys %}
            <h2>{{ nomy.title }}</h2>
            <h3>{{ nomy.description }}</h3>
            <img src="{{ nomy.image.url }}">
            {% if nomy.url %}
                <a href="{{ nomy.url }}">Nomy Link</a>
            {% endif %}
        {% endfor %}
    </div>   
    -->

    <footer>
        <p>© 2024 Ñomy. Todos los derechos reservados.</p>

    <link rel="stylesheet" href="index.css">
</body>

</html>